 #root {
  width: 100%;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */ 

.App > nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
}

.App > nav > img{
  width: 400px;
  height: 150px;
}

.App > footer{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 550px;
  gap: 20px;
}

.GitHub{
  width: 40px;
}

.CountriesHome{
  display: flex;
  flex-direction: column;
}

.Details > img{
  width: 250px;
}

.App > h2{
  font-size: 50px;
  margin-top: 80px;
}

.App > p{
  font-size: 25px;
  width: 70%;
  margin-left: 200px;
}

.App > Nav > a{
  all: unset;
  font-size: 20px;
  cursor: pointer;
}

.App > Nav > a:hover{
  font-size: 30px;
  transition: 0.8s;
}

.formCountries{
  all: unset;
  margin-top: 20px;
}
.formCountries > legend{
  font-size: 25px;
}
.formContainer{
  display: flex;
  flex-direction: column;

}


